@model IEnumerable<Project1.WebUI.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>CheckOut</h1>

<table class="table" id="CartTable">
    <caption>Cart</caption>
    <thead>
        <tr>
            <th id="OrderTime">
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th id="Quantity">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th id="OrderPrice">
                Order Price
            </th>
            <th id="CustomerName">
                Customer Name
            </th>
            <th id="ProductName">
                Product Name
            </th>
            <th id="StoreName">
                Store Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    <a asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="Order" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                <a class="btn btn-primary" asp-area="" asp-controller="Cart" asp-action="CheckedOut">Place Orders</a>
            </td>
        </tr>
    </tbody>
</table>
