@model IEnumerable<Project1.Domain.Model.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <caption>Product Table</caption>
    <thead>
        <tr>
            <th id="ProductName">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th id="ProductPrice">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th id="ProductStock">
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th id="StoreLocation">
                @Html.DisplayNameFor(model => model.StoreLocation)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreLocation.LocationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
