@model IEnumerable<Project1.WebUI.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <caption>Order Table</caption>
    <thead>
        <tr>
            <th id="OrderTime">
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th id="Quantity">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th id="CustomerName">
                Customer Name
            </th>
            <th id="ProductName">
                Product Name
            </th>
            <th id="StoreName">
                Store Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
            </tr>
        }
    </tbody>
</table>
